*{
	margin: 0px;
	padding: 0px;
}
body{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	line-height: 24px;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Source Sans Pro', sans-serif;
}
a, a:hover{
	text-decoration: none;
}
/****************
 Lucid code gose here
 *****************/



 /* global title css for whole web site title start */

 .title{
 	width: 100%;
 	padding: 0px 0px 40px;
 }
.title h6{
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	color: #008ed6;
	letter-spacing: 2px;
	margin-bottom: 0px;

}

.title h1{
	font-size: 52px;
	font-weight: 600;
	color: #000;
	

}
 /* global title css for whole web site title end*/

 .header{
 	width: 100%;
 	background: url('../images/banner.png') center top no-repeat;
 	background-size: cover;
 	
 }
 .header .bg-light{
 	background-color: transparent !important;
 }
.header .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: #fff;
    background: url('../images/border.png') center bottom no-repeat;
    background-size: auto;
}



 .header .navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin: 0px 0px 0px 15px;

}
.header .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: #08c;
    background: url('../images/border.png') center bottom no-repeat;
    background-size: auto;
}
.banner{
	width: 100%;
	padding: 100px 0px;
}
.inner-banner{
	width: 60%;
}
.inner-banner h6{
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	color: #008ed6;
	letter-spacing: 2px;
	margin-bottom: 20px;
}
.inner-banner h1{
	font-size: 52px;
	font-weight: 600;
	color: #fff;
	margin-bottom: 20px;
}
.inner-banner p{
	font-size: 16px;
	font-weight: 600;
	color: #777;
	margin-bottom: 20px;
}
.inner-button{
	width: 100%;
	margin: 50px 0px 0px;
}
.inner-button .btn-primary{
	padding: 15px 25px;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 2px;
	color: #fff;
	background: #008ed6;
	border: 1px solid #008ed6;
	border-radius: 3px;
	transition: .5s;
	margin-right: 15px;
}

.inner-button .btn-primary:hover, .inner-button .btn-primary:focus{

	color: #008ed6;
	background: transparent;
	border: 1px solid #008ed6;
}

.inner-button .btn-secondary{
	padding: 15px 25px;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 2px;
	color: #fff;
	background: transparent;
	border: 1px solid #fff;
	border-radius: 3px;
}
.inner-button .btn-secondary:hover, .inner-button .btn-secondary:focus{

	color: #fff;
	background: #008ed6;
	border: 1px solid #008ed6;
}

.feature{
	width: 100%;
	padding: 80px 0px;
}
.feature .title{
	text-align: center;
}
.inner-feature{
	width: 100%;
	padding: 30px 25px;
	text-align: center;
}
.inner-feature .icon-box{
	width: 90px;
	height: 90px;
	line-height: 90px;
	margin: 0px auto 25px;
	text-align: center;
	border: 1px solid #eee;
	border-radius: 100%;
}
.inner-feature h4{
	font-size: 22px;
	font-weight: 400;
	color: #000;
}
.inner-feature p{
	font-size: 16px;
	font-weight: 400;
	color: #777;
	padding: 0px 20px;
}
.about-long{
	width: 100%;
	padding: 80px 0px;
	border-top: 1px solid #eee;
}
.about-long .title{
	margin: 45px 0px 0px;
	padding: 0px 0px 20px;	
}
.about-long .title h1{
	font-size: 42px;

}
.about-long p{
	font-size: 16px;
	 line-height: 26px;
	 color: #777;
}
.about-long ul{
	padding: 0px;
	margin: 20px 0px 0px;
}
.about-long ul li img{
	width: 15px;
	height: 15px;
	margin-right: 10px;
}
.about-long ul li{
	list-style: none;
	font-size: 18px;
	line-height: 28px;
	font-weight: 600;
	margin: 0px 0px 10px 0px
}



.about-short {
    width: 100%;
    padding: 80px 0px;
    border-top: 1px solid #eee;
    background: #f2f2f2;
}
.about-short .title{
	margin: 85px 0px 0px;
	padding: 0px 0px 20px;	
}
.about-short .title h1{
	font-size: 42px;

}
.about-short p{
	font-size: 16px;
	 line-height: 26px;
	 color: #777;
}

.testimonial{
	width: 100%;
	padding: 80px 0px;
	background: url('../images/testimonial.png') center top no-repeat;
	background-size: cover;
}


.testimonial .title{
	text-align: center;
}

.testimonial .title h1{
	color: #fff;
}

.testimonial .owl-carousel{
	width: 100%;
}

.testimonial .owl-carousel h4{
	font-size: 25px;
	line-height: 35px;
	color: #fff;
	font-style: italic;
	font-weight: 500; 
	margin-bottom: 30px;
}
.testimonial .owl-carousel img{
	width: 70px !important;
	height: 70px;
	border-radius: 100%;
}
.testimonial .owl-carousel h6{
	font-size: 14px;
	line-height: 24px;
	color: #fff;
	margin-bottom: 0px;
}

.testimonial .owl-carousel p{
	font-size: 14px;
	line-height: 24px;
	text-transform: uppercase;
	font-weight: 700;
	color: #fff;
	margin-bottom: 0px;
}

.testimonial .owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 70px;
}

.testimonial .owl-theme .owl-dots .owl-dot span {
    background: transparent;
    border: 1px solid #f2f2f2;
    margin: -15px 7px 5px;
}


.testimonial .owl-theme .owl-dots .owl-dot.active span, .testimonial .owl-theme .owl-dots .owl-dot:hover span {
	width: 12px;
	height: 12px;
	background: #fff;
}

.feature-contact{
	width: 100%;
	background: #191919;
	padding: 40px 0px;
}
.feature-contact h2{
	font-size: 32px;
	color: #fff;
	font-weight: 600;
	margin: 10px 0px 0px;
}
.feature-contact h2 span{
	font-weight: 300;
	color: #828285;
	}

.fcontact-btn{
	width: 100%;
	text-align: right;
}

.fcontact-btn .btn-primary{
	padding: 15px 25px;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 2px;
	color: #fff;
	background: #008ed6;
	border: 1px solid #008ed6;
	border-radius: 3px;
	transition: .5s;
	
}

.fcontact-btn .btn-primary:hover, .fcontact-btn .btn-primary:focus{

	color: #008ed6;
	background: transparent;
	border: 1px solid #008ed6;
}

.fcontact-btn .btn-secondary{
	padding: 15px 25px;
	font-size: 14px;
	margin-right: 15px; 
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 2px;
	color: #fff;
	background: transparent;
	border: 1px solid #fff;
	border-radius: 3px;
}
.fcontact-btn .btn-secondary:hover, .fcontact-btn .btn-secondary:focus{

	color: #fff;
	background: #008ed6;
	border: 1px solid #008ed6;
}

.price{
	width: 100%;
	padding: 80px 0px;

}

.price .title{
	text-align: center;
}
.price .title h6{
	text-transform: uppercase;
}

.price-inner{
	width: 100%;
	text-align: center;
	border: 1px solid #eee;
}
.price-inner .price-head{
	width: 100%;
	border-bottom: 1px solid #eee;
	padding: 15px 0px;
}
.price-inner .price-head h2{
	font-size:34px ;
	font-weight: 700;
	margin-bottom: 0px;
	text-transform: uppercase;
}

.price-inner .main-price{
	width: 100%;
	border-bottom: 1px solid #eee;
	padding: 25px 0px;

}

.price-inner .main-price h1{
	font-size:52px ;
	line-height: 55px;
	font-weight: 700;
	margin-bottom: 0px;
	text-transform: uppercase;
}
.price-inner .main-price h1 sup{
	font-weight: 600;
	font-size: 28px;
}

.price-inner .main-price p{
	font-size: 14px;
	color: #999;
	margin-bottom: 0px;
}


.price-inner .price-content{
	width: 100%;
	padding: 35px 65px;

}
.price-inner .price-content p{
	font-size: 15px;
	font-weight: 600;
	color: #999;
	margin-bottom: 20px;
}
.price-inner .price-content p a{
	color: #008ed6 ;
}

.price-inner .price-content .price-content-btn{
	width: 100%;
	padding: 15px 0px 0px;
}

.price-inner .price-content .price-content-btn .btn-primary{
	padding: 10px 20px;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 2px;
	color: #008ed6;
	background: transparent;
	border: 1px solid #eee;
	border-radius: 3px;
	transition: .5s;
	
}


.price-inner:hover .price-head h2{
	color: #008ed6;
}


.price-inner:hover .main-price{
	background: #008ed6;
}

.price-inner:hover .main-price h1, .price-inner:hover .main-price p{
	color: #fff;
}

.price-inner:hover .price-content-btn .btn-primary{
	color: #fff;
	background: #008ed6;
	border: 1px solid #008ed6;
}

.contact{
	width: 100%;
	padding: 80px 0px 0px;
	background: #ededed;
}
.contact .title{
	width: 100%;
	text-align: center;
}

.contact .inner-contact{
	width: 100%;
	text-align: center;

}


.contact .inner-contact img{
	margin-bottom: 25px;

}

.contact .inner-contact p{
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	color: #999;
}

.contact .main-form{
	width: 100%;
	position: relative;
	padding: 60px 80px;
	background: #15141a;
	margin: 80px 0px -80px;
	z-index: 1;
}
.contact .main-form .form-group{
	width: 100%;
}

.contact .main-form .form-control{
	padding: 13px;
	background: transparent;
	border: 1px solid #444348;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;
}
.contact .main-form .btn-form{
	text-align: right;
}

.contact .main-form .btn-form .btn-primary{
	padding: 10px 20px;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 2px;
	color: #fff;
	background: #008ed6;
	border: 1px solid #008ed6;
	border-radius: 3px;
	transition: .5s;
}

.contact .main-form .btn-form .btn-primary:hover, .contact .main-form .btn-form .btn-primary:focus{
	color: #008ed6;
	background: transparent;
	border: 1px solid #008ed6;
}

.map{
	width: 100%;
}
.main-footer{
	width: 100%;
	padding: 20px 0px;
	background: #15141a;
}

.social-links{
	width: 100%;
	padding: 0px;
	text-align: center;
}
.social-links li{
	list-style: none;
	display: inline-block;
}
.social-links li a{
	 font-size: 18px;
	 margin: 0px 15px;
	 color: #444348;
}
.social-links li a:hover, .social-links li a:focus {
	color:#008ed6 ;
}
.copyright{
	text-align: center;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 1px;
	color: #444348;
	margin-bottom: 0px;
}












@media(min-width: 320px) and (max-width: 480px){
		.about-short img{
			width: 350px;
		}

  }      
@media(min-width: 481px) and (max-width: 767px){
	    

}
@media(min-width: 768px) and (max-width: 1024px){
         

}

